<div class="container__menu-bar">
  <div class="logo__menu-bar">
    <img src="assets/ps-logo.png" alt="PlayStation Logo" width="140px" height="32px"/>
  </div>
  <div class="item__menu-bar">
    <ul>
      <li><a href="https://www.instagram.com/joaopedro_marau/" target="_blank">INSTAGRAM</a></li>
      <li><a href="https://www.linkedin.com/in/joao-pedro-amaral-bonfim/" target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/joaoAmaralB" target="_blank">GITHUB</a></li>
    </ul>
  </div>
</div>
